body {
  padding-top: 68px;
  background-color: #a1dab4;
}
.navbar {
  min-height: 65px;
}
.navbar-inverse {
  background-color: #ffc;
  border-bottom: 2px solid #225ea8;
}
.navbar-inverse .navbar-brand {
  padding-top: 15px;
  padding-bottom: 20px;
  color: #41b6c4;
}
.navbar-inverse .navbar-brand h6 {
  color: #225ea8;
}
.navbar-inverse .navbar-nav {
  margin-top: 25px;
  margin-bottom: -10px;
}
.navbar-inverse .navbar-nav li a {
  color: #225ea8;
}
.navbar-inverse .navbar-brand:hover {
  color: #a1dab4;
}
.navbar-inverse .navbar-brand:hover h6:hover {
  color: #a1dab4;
}
.navbar-inverse .navbar-nav li a:hover {
  color: #a1dab4;
}
.jumbotron {
  padding: 0 0 0 0;
  background-color: #41b6c4;
  border: 2px solid #225ea8;
  border-radius: 12px;
  margin-top: 5px;
  overflow: hidden;
}
.jumbotron .col-md-8 {
  padding: 48px 10px 48px 10px;
}
.jumbotron .col-md-4 {
  padding: 0 0 0 10px;
  height: 240px;
}
.jumbotron .col-md-4 i {
  width: 100%;
  font-size: 500px;
  color: #ffc;
  top: -250px;
  left: 140px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 2px solid #225ea8;
  font-size: 12px;
  padding-top: 5px;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #225ea8;
}
.centering {
  float: none;
  margin: 0 auto;
}
