d3yellow = rgb(255,255,204)
d3lightGreen = rgb(161,218,180)
d3darkGreen = rgb(65,182,196)
d3blue = rgb(34,94,168)

body
  padding-top 68px
  background-color d3lightGreen

.navbar
  min-height 65px

.navbar-inverse
  background-color d3yellow
  border-bottom 2px solid d3blue

.navbar-inverse
  .navbar-brand
    padding-top 15px
    padding-bottom 20px
    color d3darkGreen
    h6
      color d3blue
  .navbar-nav
    margin-top 25px
    margin-bottom -10px
    li
      a
        color d3blue

.navbar-inverse
  .navbar-brand:hover
    color d3lightGreen
    h6:hover
      color d3lightGreen
  .navbar-nav
    li
      a:hover
        color d3lightGreen

.jumbotron
  padding 0 0 0 0
  background-color d3darkGreen
  border 2px solid d3blue
  border-radius 12px
  margin-top 5px
  overflow hidden
  .col-md-8
    padding 48px 10px 48px 10px
  .col-md-4
    padding 0 0 0 10px
    height 240px
    i
      width 100%
      font-size 500px
      color d3yellow
      top -250px
      left 140px



footer
  padding-left 15px
  padding-right 15px
  p
    border-top 2px solid d3blue
    font-size 12px
    padding-top 5px

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.toast-top-right
  top 70px

.toast-success
  background-color d3blue

.centering{
  float:none;
  margin:0 auto
}

