script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/d3/d3.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/d3MainCtrl.js")
script(type="text/javascript", src="/app/charts/d3ChartsCtrl.js")
script(type="text/javascript", src="/app/charts/chart1/chart1.js")