.container
    .jumbotron
        .row
            .col-md-8
                h1 Practice d3.js
                p Welcome to this page. Please make yourself at home.
            .col-md-4
                i(class="glyphicon glyphicon-cog")
    .row
        .col-md-12
            div(ng-include="'/partials/main/charts'")